In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv('Pincode_30052019.csv')
df

,Circle Name,Region Name,Division Name,Office Name,Pincode,OfficeType,Delivery,District,StateName
0,Andhra Pradesh Circle,Kurnool Region,Anantapur Division,A Narayanapuram B.O,515004,BO,Delivery,ANANTHAPUR,Andhra Pradesh
1,Andhra Pradesh Circle,Kurnool Region,Anantapur Division,Akuledu B.O,515731,BO,Delivery,ANANTHAPUR,Andhra Pradesh
2,Andhra Pradesh Circle,Kurnool Region,Anantapur Division,Alamuru B.O,515002,BO,Delivery,ANANTHAPUR,Andhra Pradesh
3,Andhra Pradesh Circle,Kurnool Region,Anantapur Division,Allapuram B.O,515766,BO,Delivery,ANANTHAPUR,Andhra Pradesh
4,Andhra Pradesh Circle,Kurnool Region,Anantapur Division,Aluru B.O,515415,BO,Delivery,ANANTHAPUR,Andhra Pradesh
...,...,...,...,...,...,...,...,...,...
155594,West Bengal Circle,South Bengal Region,Tamluk Division,Uttar Sautanchak BO,721649,BO,Delivery,EAST MIDNAPORE,West Bengal
155595,West Bengal Circle,South Bengal Region,Tamluk Division,Uttarjianda BO,721151,BO,Delivery,EAST MIDNAPORE,West Bengal
155596,West Bengal Circle,South Bengal Region,Tamluk Division,Uttarkotebarh BO,721626,BO,Delivery,EAST MIDNAPORE,West Bengal
155597,West Bengal Circle,South Bengal Region,Tamluk Division,Uttarmechogram BO,721139,BO,Delivery,EAST MIDNAPORE,West Bengal
155598,West Bengal Circle,South Bengal Region,Tamluk Division,Uttarsonamui BO,721648,BO,Delivery,EAST MIDNAPORE,West Bengal

In [3]:
df_test = df[['Office Name', 'District', 'StateName']][(df['District'] == 'BHAVNAGAR') | (df['District'] == 'RAJKOT' ) | (df['District'] == 'NASHIK' ) ].copy()
df_test

                  Office Name   District    StateName
30212             Adhewada BO  BHAVNAGAR      Gujarat
30213               Adtala BO  BHAVNAGAR      Gujarat
30214              Agiyali BO  BHAVNAGAR      Gujarat
30215               Akwada BO  BHAVNAGAR      Gujarat
30216              Alampar BO  BHAVNAGAR      Gujarat
...                       ...        ...          ...
79454              Wasali B.O     NASHIK  Maharashtra
79455          Wavi Harsh B.O     NASHIK  Maharashtra
79456                Wavi S.O     NASHIK  Maharashtra
79457  Ycm Open Univesity S.O     NASHIK  Maharashtra
79458              Zarwad B.O     NASHIK  Maharashtra

[1085 rows x 3 columns]

In [4]:
df_test['Office Name'] = df_test['Office Name'].str.replace('BO', '')
df_test['Office Name'] = df_test['Office Name'].str.replace('B.O', '')
df_test['Office Name'] = df_test['Office Name'].str.replace('S.O', '')
df_test['Office Name'] = df_test['Office Name'].str.replace('SO', '')

<ipython-input-4-490c3af380a7>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df_test['Office Name'] = df_test['Office Name'].str.replace('B.O', '')
<ipython-input-4-490c3af380a7>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df_test['Office Name'] = df_test['Office Name'].str.replace('S.O', '')

In [5]:
df_test.columns = ['area', 'city', 'state']

In [6]:
df_city = df_test[['city', 'state']].copy()

In [7]:
df_city = df_city.drop_duplicates()
df_city = df_city.reset_index(drop=True)
df_city = df_city.reset_index()

In [8]:
df_city['index'] += 1

In [9]:
df_city.to_csv('cities.csv', columns = ['index', 'city', 'state'], index = False)

In [10]:
df_city = df_city.set_index('city')

In [11]:
df_city_dict = df_city['index'].to_dict()

In [12]:
df_city_dict

{'BHAVNAGAR': 1, 'RAJKOT': 2, 'NASHIK': 3}

In [13]:
df_test['city'] = df_test['city'].replace(df_city_dict)

In [14]:
df_test = df_test.reset_index(drop = True)
df_test.index += 1

In [15]:
df_test[['area', 'city']].to_csv('areas.csv', index_label='index')